body{
    margin: 0px;
}
html{
	margin: 0px;
}
.to__comit{
	background-color: #D46363;
}

.team__section{
	background-color: #fceded;
}
.pinkline{
	display: flex;
	align-items: center;
}
.pinkline div{
	height: 2px;
	width: 100%;
	background-color: #D46363;
	margin: 0 25px;
}
.pinkline h2{
	white-space: nowrap;
}

.pinkline h2{
	padding: 0 26px;
	text-align: center;
	color: #D46363; 
	display: block;
}
.team__image{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.join.team {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: 50px; /* Зберігаємо попередній відступ */
    width: 523px;
    height: 97px;
    border-radius: 14px;
    background: #FF9E1F;
    position: relative; /* Змінюємо на relative */
    left: 50%;
    transform: translateX(-50%);
}
.join.team a{
	text-decoration: none;
	color: #FFFDFD;
	font-family: Roboto;
	font-size: 28px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}


.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
	
}

.partners h2 {
    text-align: center;
    margin-top: 20px; /* Відступ зверху */
}

.Vector__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Додатковий відступ між картинками */
}

.Vector__logos img {
    margin: 5px; /* Додатковий відступ між картинками */
}

ul li{ list-style: none}

footer{
	height: 292px;
	background-color: rgba(255, 145, 0, 0.90);
	color: #fff;
}
.footer__value{
	display: flex;
    justify-content: space-around;
	padding-bottom: 40px;
	
    margin: 0px 110px;
}
.footer__icon{
	display: flex;
	margin-top: 37px;

}
.footer__icon img{
	height: 97px;
	width: 97px;
	margin-right: 26px;
}
.footer__menu, .contact{
    margin-top: 37px;
}

ul li a{
	color: #fff;
    text-decoration: none;
}


.contact{
	margin-left: 142px;
	align-items: center;
}

.phone, .mail {
	display: flex;
	align-items: center;
    text-decoration: none;
}

.phone a{
	text-decoration: none;
}

.phone img, .mail img {
	margin-right: 21px;
}

.social__media {
	margin-left: 21px;
}

.social__media a img{
	padding-left: 32px;
    margin-top: 20px;
}


@media screen and (max-width: 400px) {
	footer{
		width: 390px;
		min-width: 390px;
	}
}
